body{
    background-color: rgb(223, 214, 209);
    text-align: center;
}

.cabecera{
    color: rgb(137, 194, 53);
    font-family: "Brush Script MT", cursive;
    font-size: 3em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2{
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(137, 194, 53);
}